html,
body,
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: center;
    font-family: 'Mooli', sans-serif;
    background-image: url(neutralbackroundbeige.jpg);
    position: relative;
}

.main-container {
    display: flex;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}

.header {
    box-sizing: border-box;
    width: 75%;
    padding: 5px;
    font-size: 8rem;
    justify-content: center;
    margin: auto;
    animation: bladeemoves 4s infinite;
    position: relative
}


.card {
    box-sizing: border-box;
    width: 30%;
    padding: 1px;
    margin: 10px;
    font-size: 1rem;
    box-shadow: 10px 10px 10px black;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: 100%;
    }
}

.card1:hover {
    transform: rotate(360deg);
}

.card2:hover {
    transform: scale(1.15);
}

.card3:hover {
    transform: matrix(0, 1, 1, 0, 1, 0);
}

.card4:hover {
    transform: translate(-3rem, -4ex);
}

.card5:hover {
    transform: scale(1.15);
}

.card6:hover {
    transform: skew(10deg, 10deg);
}

.card7:hover {
    transform: rotate(180deg);
}

.card8:hover {
    transform: scale(1.15);
}

.card9:hover {
    transform: matrix(0, 1, 5, 0, 1, 10);
}

.card10:hover {
    transform: skew(-20deg, -20deg);
}

.card11:hover {
    transform: scale(1.15);
}

.card12:hover {
    transform: translate(3rem, -4ex);
}

@keyframes bladeemoves {
    0% {
        left: -5%;
    }

    25% {
        right: 10%;
    }

    50% {
        left: -10%;
    }

    75% {
        right: 10%;
    }

    100% {
        left: 5%;
    }

}
